body{
    background-color:#0B0C10;
    height:100%;
    color:white;

  }

.btn {
    border: 1px solid #66FCF1;
    border-radius: 12px;
    color: white;
    background-color: black;
}

.btn:hover{
    background-color: #45A29E;
}

.nav-tabs .nav-item.nav-link.active{
    background-color: #45A29E;
}

.tableWrapper{
    height: 350;
    overflow-y: auto;
}

th{
    background-color: #282828;
    color: #66FCF1;
}

tr{
    background-color: #1F2833;
}

td{
    color:white;
    padding: 0px;
}

.component{
    margin:15px;
    border-radius: 25px;
    background-color: #1F2833;
    padding: 25px;
    border: 1px solid #45A29E;
}

h2, h3, h4{
    color:white;
}

.list-group-item{
    background-color: #1F2833;
}

.modal-content{
    background-color: #1F2833;
} 

/* For Navbar collapsed button */
.navbar-toggler{
    background-color:  #66FCF1;
}

/*For rc-time-picker*/

.rc-time-picker-panel-select li{
    color: black!important;
}

/* For Results tables in exercise history */
.tableBodyScroll tbody {
    display: block;
    max-height: 300px;
    overflow-y: scroll;
  }
  
  .tableBodyScroll thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

